.footerWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: black;
}
.logo2Footer {
  max-width: 120px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .logo2Footer {
    max-width: 110px;
  }
}

.breadcrumbs {
  justify-content: center;
  display: flex;
}
.breadcrumbsLink {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.breadcrumbsLink:hover {
  color: black;
  font-weight: bold;
}
